/* <editor-fold defaultstate="collapsed" desc="BGA"> */
#overall-content div,.standard_popin div,img
{
	user-select: none;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="LOGS"> */
.ALTAYphase
{
	font-family: cursive;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	border-radius: 5px;
    background-color: #f3ddac;
	color: red;
    font-size: 14pt;
    font-weight: bold;
}
.ALTAYsubPhase
{
	font-family: cursive;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	border-radius: 5px;
    background-color: #d0c747;
	color: black;
    font-size: 9pt;
    font-weight: bold;
}
.log .ALTAYresource
{
	height: 15px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="PLAYAREA"> */
#ALTAY
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#ALTAYplayArea
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="BOARD"> */
#ALTAYboard
{
	flex: 1 1 50%;
	margin: 1%;
	position: relative;
	aspect-ratio: 2835/2008;
	background-image: url('img/board.jpg');
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 5px black;
	container-type: size;
}
#ALTAYboard.ALTAY2players {
	background-image: url('img/2players.png'), url('img/board.jpg');
}
#ALTAYboard.ALTAY3players {
	background-image: url('img/3players.png'), url('img/board.jpg');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="ACHIEVEMENTS"> */
#ALTAYachievementCardDisplay
{
	display: grid;
	grid-template-columns: [level] 25% repeat(3, [cards] 25%);
	grid-template-rows: [level-1] 1fr [level-2] 1fr [level-3] 1fr;
	justify-content: center;
	margin: 5px 0px;
	width: 75%;
}
#ALTAYachievementCardDisplay>div>.ALTAYachievementCards:not(:first-child)
{
	margin-top: -60%;
}
.ALTAYachievementCardHolder {
	background-color: #40404040;
	margin: 2px;
	border-radius: 10px;
}
.ALTAYachievementCards[data-id]:hover
{
	box-shadow:0px 0px 5px 10px black;
	transition: box-shadow 0.5s;
	/*	filter: contrast(200%);*/
	z-index: 1;
}
.ALTAYachievementCards
{
	container-type: size;
	position: relative;
	aspect-ratio: 500/358;
	background-image: url('img/achievementCards.jpg');
	background-size: 1100%;
	border-radius: 5px;
	border: 1px solid white;
	margin: 2px;
	transition: box-shadow 0.5s;
}
.ALTAYachievementCards.ALTAYoncePerTurn.ALTAYselectable {
	box-shadow:0px 0px 5px 5px black;
}
.ALTAYachievementCardTitle {
	position: absolute;
	left: 10cqw;
	right:65cqw;
	top:0cqw;
	font-family: fantasy;
	font-size: 4cqh;
	line-height: 15cqh;
	/*	letter-spacing: -1px;*/
	text-wrap: nowrap;
}
.ALTAYachievementCardEffect {
	position: absolute;
	text-align: center;
	font-family: serif;
	font-size: 5cqh;
	line-height: 7cqh;
	/*	letter-spacing: -1px;*/
	text-wrap-style: balance;
}
.ALTAYachievementCards[data-type='1']
{
	background-position-y: 0%;
}
.ALTAYachievementCards[data-type='2']
{
	background-position-y: 50%;
}
.ALTAYachievementCards[data-type='3']
{
	background-position-y: 100%;
}
.dijitTooltipContainer .ALTAYachievementCards
{
	width:400px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="ACTIONCARDS"> */
.ALTAYactionCardDisplay
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 5px 0px;
	width: 100%;
}
.ALTAYactionDisplay>.ALTAYactionCards
{
	width:100px;
}
.ALTAYactionCardDisplay>.ALTAYactionCards
{
	height: 150px;
	border-radius: 5px;
}
.ALTAYachievementCards>.ALTAYactionCards {
	transform-origin: top;
	transform: scale(50%);
}
.ALTAYactionCardHolder
{
	flex: 1 1 auto;
	background-color: #40404040;
	margin: 2px;
	border-radius: 10px;
}
.ALTAYactionCardHolder>.ALTAYactionCard:not(:first-child)
{
	margin-top: -125%;
}
.ALTAYactionCards
{
	container-type: size;
	position: relative;
	aspect-ratio: 300/419;
	background-image: url('img/actionCards.jpg');
	background-size: 8800%;
	/*	border-radius: 5px;*/
	border: 1px solid white;
	border-radius: 5px;
	margin: 2px;
	transition: box-shadow 0.5s;
}
.ALTAYactionCardTitle {
	position: absolute;
	left: 15cqw;
	right:52cqw;
	top:0cqw;
	font-family: fantasy;
	font-size: 5cqh;
	line-height: 10cqh;
	letter-spacing: -1px;
	text-wrap: nowrap;
}
.ALTAYactionCardEffect {
	position: absolute;
	text-align: center;
	font-family: serif;
	font-size: 5cqh;
	line-height: 6cqh;
	letter-spacing: -1px;
	text-wrap-style: balance;
}
.ALTAYactionCard
{
	background-position-y: 100%;
}
.ALTAYactionCard.EARTHFOLK
{
	background-position-y: 0%;
}
.ALTAYactionCard.ELVENFOLK
{
	background-position-y: 25%;
}
.ALTAYactionCard.FIREFOLK
{
	background-position-y: 50%;
}
.ALTAYactionCard.SMALLFOLK
{
	background-position-y: 75%;
}
.ALTAYactionCard:hover {
	box-shadow:0px 0px 5px 10px black;
	transition: box-shadow 0.5s;
	/*	filter: contrast(200%);*/
	z-index: 1;
}
.dijitTooltipContainer .ALTAYactionCards
{
	width:250px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="PLAYERHAND"> */
.ALTAYplayerHand
{
	position: fixed;
	bottom: -270px;
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
	transition: bottom 1s;
	background-color: #00000080;
	border-radius: 25px;
	padding: 25px;
	box-sizing: border-box;
	z-index: 25;
}
.ALTAYplayerHand.ALTAYselected,.ALTAYplayerHand:hover
{
	bottom: 0px;
	transition:bottom .5s;
}
.ALTAYplayerHand>.ALTAYactionCards
{
	height: 300px;
	transition:transform 1s, box-shadow .5s;
}
.ALTAYplayerHand>.ALTAYactionCards:nth-child(even)
{
	transform:rotate(10deg);
}
.ALTAYplayerHand>.ALTAYactionCards:nth-child(odd)
{
	transform:rotate(-10deg);
}
.ALTAYplayerHand>.ALTAYactionCards:hover {
	transform:scale(110%);
	transition:transform 1s, box-shadow .5s;
	box-shadow:0px 0px 5px 10px #ffffff40;
	z-index:20;
}
.ALTAYplayerHand>.ALTAYactionCards.ALTAYselectable
{
	transform:scale(120%);
	box-shadow:0px 0px 5px 10px #ffffff40;
	transition:transform 1s, box-shadow .5s;
	z-index:5;
}
.ALTAYplayerHand>.ALTAYactionCards.ALTAYselected
{
	transform:scale(125%);
	box-shadow:0px 0px 5px 10px #ffffffff;
	transition:transform 1s, box-shadow .5s;
	z-index:10;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="MARKERS"> */
.ALTAYmarker
{
	width: 5%;
	background-image: url('img/markers.png');
	transform-origin: center;
	z-index: 0;
}
.ALTAYmarker:hover
{
	z-index: 10;
	box-shadow: 0px 0px 10px 5px black;
	transition: transform .5s, box-shadow .5s;
}
.ALTAYsettlementMarkerContainer
{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 5px;
	width: fit-content;
}
.ALTAYsettlementMarkerContainer>.ALTAYsettlement
{
	width: 40px;
	margin-right: -30px;
}
.ALTAYsettlement
{
	width: 8%;
	aspect-ratio: 295/390;
	background-size: 400%;
	background-image: url('img/tokens.png');
	transform-origin: center;
	transition: transform .25s, box-shadow .25s;
}
.ALTAYresourceContainer>.ALTAYsettlement
{
	width: 30px;
}
.ALTAYachievementCards>.ALTAYsettlement
{
	position: absolute;
	top: 1cqw;
	right: 1cqw;
	width: 25cqw;
}
#ALTAYboard>.ALTAYsettlement:hover
{
	transition: transform .5s, box-shadow .5s;
	box-shadow: 0px 0px 10px 5px black;
}
#ALTAYboard>.ALTAYsettlement:focus
{
	transform: translateY(-50%);
	transition: transform .5s, box-shadow .5s;
}
.ALTAYsettlement[data-type='EARTHFOLK']
{
	background-position-x: 0%;
}
.ALTAYsettlement[data-type='ELVENFOLK']
{
	background-position-x: 33.33%;
}
.ALTAYsettlement[data-type='FIREFOLK']
{
	background-position-x: 66.66%;
}
.ALTAYsettlement[data-type='SMALLFOLK']
{
	background-position-x: 100%;
}
.ALTAYconquestMarkerContainer
{
	display: flex;
	/*	flex-wrap: wrap;*/
	align-items: center;
	margin: 5px;
}
.ALTAYconquestMarkerContainer>.ALTAYconquestMarker
{
	width: 25px;
	transform: none;
}
.ALTAYconquestMarker
{
	aspect-ratio: 1;
	background-size: 1100%;
	transform: rotate(-45deg);
	transition: transform .25s, box-shadow .25s;
	border-radius: 25%;
	box-shadow: 0px 0px 5px 1px black;
	z-index: 1;
}
.ALTAYconquestMarker:focus
{
	transform: translateY(-50%) rotate(-45deg);
	transition: transform .5s, box-shadow .5s;
}
.ALTAYmarker[data-type='disabled']
{
	background-position-y: 100%;
	opacity: 50%;
}
.ALTAYmarker[data-type='x1']
{
	background-position-x: 0%;
}
.ALTAYmarker[data-type='x2FOOD']
{
	background-position-x: 10%;
}
.ALTAYmarker[data-type='x2WOOD']
{
	background-position-x: 20%;
}
.ALTAYmarker[data-type='x2METAL']
{
	background-position-x: 30%;
}
.ALTAYmarker[data-type='x2STONE']
{
	background-position-x: 40%;
}
.ALTAYmarker[data-type='x3WOOD']
{
	background-position-x: 50%;
}
.ALTAYmarker[data-type='x3METAL']
{
	background-position-x: 60%;
}
.ALTAYmarker[data-type='x3STONE']
{
	background-position-x: 70%;
}
.ALTAYmarker[data-type='VP']
{
	aspect-ratio: 1/2;
	background-size: 2200%;
	background-position-x: 100%;
	transform: translate(40%,40%);
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="REGIONS"> */
.ALTAYregion {
	stroke-width: 5;
}
.ALTAYregion:hover {
	fill: #00000040;
	stroke: black;
	z-index: 1;
}
.ALTAYregion.ALTAYselectable
{
	stroke-width: 10;
}
.ALTAYregion.ALTAYselected
{
	stroke-width: 15;
}
.ALTAYregion.ALTAYdisabled
{
	fill: #000000F0;
}
.ALTAYdisabled {
	pointer-events: none;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="RESSOURCES"> */
.ALTAYresourceContainer {
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
}
.ALTAYresources
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 5px;
}
.ALTAYachievementCards[data-id]:hover>.ALTAYresource
{
	transform: scale(150%);
	transition: transform .5s;
}
.ALTAYresource,.ALTAYicon
{
	position: relative;
	height: 25px;
	margin: 0px 5px;
	vertical-align: middle;
	filter: drop-shadow(2px 2px 1px black);
	transition: transform .5s;
}
.bgabutton>.ALTAYresource,.bgabutton>.ALTAYicon
{
	height: 17px;
	margin: 0px 5px;
}
.ALTAYactionCard>.ALTAYresource
{
	height: 20%;
}
.ALTAYachievementCards>.ALTAYresource
{
	height: 25%;
}
.ALTAYactionCardEffect>.ALTAYresource,.ALTAYactionCardEffect>.ALTAYicon
{
	height: 6cqh;
}
.ALTAYachievementCardEffect>.ALTAYresource,.ALTAYachievementCardEffect>.ALTAYicon
{
	height: 8cqh;
}
.ALTAYresource.ALTAYselected
{
	box-shadow: 0px 0px 5px 5px red;
	border-radius: 25%;
}
.ALTAYactionCard>.ALTAYresource:first-of-type {
	position: absolute;
	top: 62%;
	left: 20%;
}
.ALTAYactionCard>.ALTAYresource:last-of-type {
	position: absolute;
	top: 62%;
	left: 44%;
}
.ALTAYachievementCards>.ALTAYresource:nth-of-type(1) {
	position: absolute;
	top: 25%;
	left: 5%;
}
.ALTAYachievementCards>.ALTAYresource:nth-of-type(2) {
	position: absolute;
	top: 25%;
	left: 20%;
}
.ALTAYachievementCards>.ALTAYresource:nth-of-type(3) {
	position: absolute;
	top: 25%;
	left: 35%;
}
.ALTAYachievementCards>.ALTAYresource:nth-of-type(4) {
	position: absolute;
	top: 25%;
	left: 50%;
}
.ALTAYachievementCards>.ALTAYresource:nth-of-type(5) {
	position: absolute;
	top: 25%;
	left: 65%;
}
.ALTAYachievementCards>.ALTAYresource:nth-of-type(6) {
	position: absolute;
	top: 25%;
	left: 80%;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="FACTIONS"> */
.ALTAYfaction
{
	margin:2px;
	height:40px;
	vertical-align:middle;
	transition: filter .25s;
	filter: drop-shadow(2px 2px 2px black);
}
/* </editor-fold> */


.ALTAYplayer
{
	flex: 1 1 50%;
	margin: 1%;
}
.ALTAYplayerArea
{
	position: relative;
	width: 75%;
	padding: 40px 5px 5px 5px;
	border: 10px groove var(--color);
	background-color: #ebd5bd;
	box-sizing: border-box;
	border-radius: 10px;
	min-height: 200px;
}
.ALTAYplayer>.ALTAYplayerArea {
	width: 100%;
}
.ALTAYplayerArea::before {
	position: absolute;
	top: 0px;
	content: attr(player);
	font-size: xx-large;
	font-weight: bold;
	color: var(--color);
}
.ALTAYplayOnTable
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.ALTAYplayOnTable>.ALTAYactionCards {
	width: 20%;
	margin: 0.5%;
}
.ALTAYplayOnTable>.ALTAYachievementCards {
	width: 20%;
	margin: 0.5%;
}
.ALTAYsecret>.ALTAYachievementCards {
	width: 50%;
	margin: 1%;
}

.mobile_version .ALTAYplayArea {
	flex-direction: column;
}
.mobile_version .ALTAYboard {
	width: 90%;
	margin: 5%;
}
.mobile_version .ALTAYplayer {
	width: 90%;
	margin: 5%;
}
